

.navbar {
  margin-bottom: 0;
  border-radius: 0;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {height: 500px}

/* Set gray background color and 100% height */
.sidenav {
  padding-top: 20px;
  background-color: #;
  height: 100%;
}
<section>
  <nav>
    <ul>

      <h4>TRENDING</h4>
      <img src="https://cdn.images.express.co.uk/img/dynamic/143/590x/Google-game-console-LEAK-Google-plan-HUGE-rival-to-Sony-Playstation-and-Xbox-982766.jpg?r=1533127049240" width="200" height="100"  alt="Google console">
      <li><a href="#">Google launches new console?</a></li>
      <img src="https://cdn.images.express.co.uk/img/dynamic/59/590x/Netflix-secret-option-1040031.jpg?r=1541175984046" align="center" width="200" height="100" alt="Netflix">
      <li><a href="#">New Netflix update causes major issues</a></li>
      <img src="https://static1.squarespace.com/static/54bdcba5e4b08f92b173441f/t/5bf0740c4ae237221b0fdb12/1542485015886/stan-lee-and-supes-7x4-1.jpg" align="center" width="200" height="100" alt="Stan Lee">
      <li><a href="#">Creator of Marvel Stan Lee dies at age 95</a></li>
    </ul>
  </nav>
nav {
float: right;
width: 20%;
height: 500px;
background: #ccc;
padding: 20px;
}

header {
  background-color: #008080;
  padding: 5px;
  text-align: center;
  font-size: 25px;
  color: white;
  font-family: monospace;
}
/* Set black background color, white text and some padding */
footer {
  background-color: #008080;
  padding: 10px;
  text-align: center;
  color: white;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    padding: 15px;
  }
  .row.content {height:auto;


    nav ul {
      list-style-type: none;
      padding: 0;
    }

    article {
      float: left;
      padding: 20px;
      width: 80%;
      background-color: #f1f1f1;
      height: 500px;
    }

    section:after {
      content: "";
      display: table;
      clear: both;
    }

    @media (max-width: 600px) {
      nav, article {
        width: 100%;
        height: auto;
      }
    }
